a{

    margin: 0px;
    padding: 0px;
}

body{
font-family: 'Poppins', sans-serif;
font-weight: 300;
background-color: #63413a;

}

.logo {
    display: flex;
    align-items: center;
    height: 10vh;
    width: auto;
    padding-left: 1%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2rem;
}

.hamburguer {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .logo {
        display: flex;
        align-items: center;
        height: 10vh;
        width: auto;
    }

    .menu {
        display: none !important;
    }

    .hamburguer {
        display: block;
        padding-right: 0.5rem;
    }
}

.Cards{
    display: grid;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .Cards{
    grid-template-columns: repeat(2, 50%);
    align-items: stretch;
    }

    .card{
        height: 38rem;
    }
    
    .card_escuro{

        height: 38rem;
    }
}

@media screen and (min-width: 1024px)  {
    
    .Cards{
        grid-template-columns: repeat(3, 33%);
      }      
        .card{
            height: 38rem;
        }
        
        .card_escuro{
            height: 38rem;
        }



}

    .card{
        background-color: #99746d;
        border-radius: 2rem;
        margin: 8%;
    }

    .card_escuro{
        background-color: #55342d;
        border-radius: 2rem;
        margin: 8%;
    }    

    .titulo_card{
        display: flex;
        padding: 1rem 0rem 0rem 0rem;
        align-items: center;
    }

    .titulo_card img {
        width: 8rem;
        height: 8rem;
    }

    .titulo_card h1{
        font-size: clamp(1.3rem, 1.4rem, 5rem);
        font-weight: 500;
        color: aliceblue;
        text-align: center;
    }


    /* MENU */

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #63413a;
    }

    .hamburguer{
        padding: 1rem;
        height: 10%;
        width: 8%;
    }

    .logo{
        height: 20%;
        width: 15%;
        padding-right: rem;
    }

    .menu{
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 12rem;
    }

    .menu li{
        list-style: none;
    }

    .menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 6rem);
    }






    /* BANNER!! */
    .banner{
        width: 100%;
        aspect-ratio: 16 / 5;
        overflow: hidden;
        background-image: url(/assets/banner-hannah.png);
        background-size:cover; 
        background-position: center; 
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
    }

    .banner_texto{
        height: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .banner_texto{

        
    }


    .banner_texto h1{
        margin: 0px;
        font-size: clamp(1rem, vw, 6rem);
        font-weight: 300;
        width: 20rem;
        color: aliceblue;
        text-align: left;
    }

    .banner_texto nav{
        display: flex;
        list-style: none;
        gap: 15px;
        padding-top: 8px;  

    }

    .banner_texto a{
        display: inline-block;
        text-decoration: none;
        color: aliceblue;
        border: 1px solid aliceblue;
        border-radius: 20px;
        padding: 0px 5px 0px 5px;
    }

    a:hover{
        transform: scale(1.0);
    }


    /* CARD 1!!!! */
    .card1_Dogs{
        width: auto;
        height: auto;
        margin: 0px;
    }

    .cachorros{
        padding: 2rem;
    }

    .cachorros img{
        border-radius: 15%;
        height: 70%;
        width: 100%;
    }

    .texto_dogs{
        padding-left: 1rem;
        font-size: clamp(1rem, 0.8vw, 6rem);
        color: aliceblue;
        font-weight: 300;
    }

    #descricao{
        font-weight: 400;
    }

    /* FOOTER */
    
    footer{
    background-color: #55342d;
    padding: 3rem;
    }
    
    .conteudo_footer{
        display: flex;
        justify-content: space-between;    
    }
    
    
    .footer_logo{
    color: #ffffff;
    }
    
    
    .footer_logo h1{
        font-weight: 500;
        font-size: 2rem;
    }
        
    .footer_logo p{
        font-size: 1rem;
    }
    
    .footer_logo img{
        max-width: 100%;
        height: auto;
        display: block;    
    }

